.logo-main {
  width: 70px;
  height: 70px;
}

h1 {
  align-self: flex-end;
}

h1:first-letter {
  text-transform: capitalize;
}

.title-container {
  display: flex;
}

.options-container {
  text-align: center;
}

.icon {
  vertical-align: -60% !important;
  cursor: pointer;
}

.forms {
  display: flex;
  justify-content: flex-end;
}

.buttons {
  min-width: 55px;
}
