.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 300ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.aboutHeader {
  text-align: center;
}

.list-element {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-amount {
  width: 100px;
  float: right;
}

.personal-access-token-input {
  width: 200px;
  float: right;
}

.form-control-valid {
  $color: #28A745;
  border: 1px solid $color;
  background-color: $color;
}

.form-control-invalid {
  $color: #DC3545;
  border: 1px solid $color;
  background-color: $color;
}

.form-control-empty {
  $color: #FFC107;
  border: 1px solid $color;
  background-color: $color;
}

#logo {
  display: block;
  margin: 0 auto;
}
