.ReactModal__Content {
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 300ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

.aboutHeader {
    text-align: center;
}